.banner {
    position: relative;
    height: 800px;
    color: white;
    object-fit: contain;
    /* won't stretch regardless of whats inside-- if we have a bigger img and it changes its size-- the aspect ratio remains the same */
}

.banner_contents {


    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_title{
    padding-bottom: 0.3rem;
    font-size: 3rem;
    font-weight: 800;
}